<!DOCTYPE html>
<html>
    <head>
        <title>Nectar</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header></header>
        <center><h1>Settings</h1></center>
        <form>
            <div class="container">  
                
            </div>  
        </form>
        <script src="script.js"></script>
        <footer>
            <a id="settingsButton" href="settings.html">Settings</a>
            <a id="settingsButton" href="login.html">Login</a>
        </footer>
    </body>
</html>